<div class="bs-callout" style="position:relative;">
  {{#if hower}}
    <span class="glyphicon glyphicon-remove" style="position:absolute;top:5px;right:5px;margin:0;padding:5px 3px;" aria-hidden="true"></span>
  {{/if}}
  <p>{{#text-input text=item.text model=item}}{{/text-input}}</p>
</div>