<div class="bs-callout" style="position:relative;">
  {{#if hower}}
    <button style="position:absolute;top:5px;right:5px;margin:0;padding:5px 3px;" {{action "remove" item on="mouseUp"}}><span class="glyphicon glyphicon-remove"  aria-hidden="true"></span>
</button>
  {{/if}}
  <p>{{#text-input text=item.text saveAction=(action 'saveAction' item) }}{{/text-input}}</p>
</div>