<div class="panel panel-default group-item">
        <div class="panel-heading">
            <h3 class="panel-title">{{item.name}}</h3>
        </div>
    <div class="panel-body">
          {{#each item.cards as |card|}}
                {{#card-item item=card}}
                    <button class="btn btn-danger btn-xs" {{action 'deleteCard' card}}>Delete</button>
                {{/card-item}}
        {{/each}}
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success btn-xs" {{action 'addCard' item}}>Add</button>
      {{yield}}
    </div>
</div>