{{#if isEditing}}
  {{focus-input  multiple="multiple" type="text"  value=text class="form-control" 
  focus-out=(action 'saveAction') enter=(action 'saveAction')}}
{{else}}
    <label {{action "edit" on="click"}}>{{text}}</label>
{{/if}}


