<h2>List</h2>

{{#each model as |directory|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{directory.name}}</h3>
        </div>
        <div class="panel-body">
            <p>Name: {{directory.name}}</p>
            <p>Type: {{directory.type}}</p>
        </div>
    </div>
{{/each}}