<h2>List</h2>
<div class="row">
  {{#each model as |directory|}}
      <div class="col-md-4">
        {{#directory-item item=directory}}
          {{#link-to 'directories.edit' directory.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'delete' directory}}>Delete</button>
        {{/directory-item}}
      </div>
  {{/each}}
</div>