<h2>{{model.name}}</h2>
<div class="row pull-right">
        <button class="btn btn-success" {{action 'addGroup' model}}>Add group</button>
    <button class="btn btn-danger" {{action 'delete' model}}>Delete board</button>
</div>
<div class="row">
  {{#each model.groups as |group|}}
      <div class="col-md-3">
        {{#group-item item=group}}
            <button class="btn btn-danger btn-xs" {{action 'deleteGroup' group}}>Delete</button>
        {{/group-item}}
      </div>
  {{/each}}
 </div>

