<div class="row">
  {{#each model as |board|}}
      <div class="col-md-2">
        {{#board-select-item item=board}}
          {{#link-to 'boards.edit' board.id class='btn btn-success'}}Edit{{/link-to}}
        {{/board-select-item}}
      </div>
  {{/each}}
</div>