<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        {{#link-to "index"}}<a class="navbar-brand" href="#">Dossier</a>{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
        {{#link-to "directories"}}<a class="navbar-brand" href="#">Directories</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
            {{#link-to "about"}}<a class="navbar-brand" href="#">About</a>{{/link-to}}
      </ul>
  </div> 
</nav>-->

<div class="container">
  {{partial 'navbar'}}
  {{outlet}}
</div>

